{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "webextensions": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "semi": ["error", "never"],
    "no-extra-semi": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react/self-closing-comp": "error",
    "react/jsx-props-no-spreading": 0,
    "no-trailing-spaces": "off",
    "no-multi-str": 0,
    "import/prefer-default-export": "off",
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "semi": false
      }
    ]
  },
  "globals": {
    "chrome": true
  }
}
