{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "webextensions": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "semi": ["error", "never"],
    "no-extra-semi": "error",
    "prettier/prettier": [
      "error",
      {
        "semi": false
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "globals": {
    "chrome": true
  }
}
