.sbui {
  width: 260px;
  background: linear-gradient(
    to bottom,
    var(--color-primary-500),
    var(--color-primary-800)
  );
  box-sizing: content-box;
  padding: 0 0 var(--padding-m) 0;
}
.sbui-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background: var(--color-primary-800);
  padding: 0 var(--padding-s);
}
.sbui-title {
  margin: 0;
  color: #fff;
  font-size: var(--fs-s);
  font-weight: 400;
}
.sbui-main,
.sbui-cat {
  display: flex;
  flex-flow: column wrap;
}

.sbui-cat__color {
  display: flex;
  flex-flow: column wrap;
}

.sbui-separator {
  height: 1px;
  width: 100%;
  position: relative;
}
.sbui-separator::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  background: var(--color-primary-300);
  transform: translate(-50%, 0);
  left: 50%;
}

.sbui-cat__button {
  display: flex;
  justify-content: flex-end;
  padding: var(--padding-m) var(--padding-m) 0;
}
